---
import "../reset.css";
import "@fontsource-variable/roboto-mono";

import Game from "../components/game";
---

<html lang="en" onclick="(e) => e.preventDefault()">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Word Pyramid</title>
  </head>
  <body>
    <main>
      <h1>Word Pyramid</h1>
      <Game client:load />
    </main>
  </body>
</html>

<style is:global>
  :root {
    --accent-color: #282c34;
    --tile-dimension: 4rem;
    --tile-radius: 5%;
    --tile-font-size: calc(var(--tile-dimension) * 0.5);
    --bevel-shadow: 1px 7px 15px rgb(0 0 0 / 0.8),
      inset 3px 0 2px rgb(255 255 255 / 0.4),
      inset 0 3px 0px rgb(255 255 255 / 0.5),
      inset -2px -3px 0px rgb(143 128 82 / 0.6);
    @media (max-width: 800px) {
      --tile-dimension: 3rem;
    }
  }
  * {
    touch-action: manipulation;
  }
  body {
    background: var(--accent-color);
    color: white;
    font-family: "Roboto Mono Variable", monospace;
  }
  main {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: calc(var(--tile-dimension) * 0.75);
  }
  .grid {
    --col-width: calc(var(--tile-dimension) / 2);
    --gap: calc(var(--col-width) / 5);
    display: grid;
    row-gap: var(--gap);
    & .row {
      display: flex;
      justify-content: center;
      gap: var(--gap);
    }
    & button {
      width: var(--tile-dimension);
      height: var(--tile-dimension);
      border-radius: var(--tile-radius);
      border: 1px solid white;
      cursor: pointer;
      &.tile {
        border: none;
      }
    }
  }
  .tile {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--tile-dimension);
    height: var(--tile-dimension);
    padding: 0;
    border-radius: 5%;
    border: none;
    color: var(--accent-color);
    font-family: inherit;
    font-size: var(--tile-font-size);
    font-weight: 700;
    text-shadow:
      1px 1px 1px rgb(255 255 255 / 0.9),
      0 -1px 1px rgb(255 255 255 / 0.2);
    background: hsl(35 71% 80%);
    box-shadow: var(--bevel-shadow);
    text-transform: uppercase;
  }
  .controls {
    --gap: calc(var(--tile-dimension) * 0.75);
    display: flex;
    align-items: start;
    gap: var(--gap);
    white-space: pre;
    & .current-letter {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
    }
  }
  button {
    appearance: none;
    border: none;
    background: none;
    cursor: pointer;
    &:disabled {
      cursor: not-allowed;
    }
    &.game-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: calc(var(--tile-dimension) * 1.5);
      height: var(--tile-dimension);
      background-color: hsl(0 0% 100% / var(--bg-opacity, 0.75));
      box-shadow: var(--bevel-shadow);
      transition: transform 25ms ease-in-out;
      &:active {
        transform: translate(0.5px, 1px);
      }
      &:disabled {
        --bg-opacity: 0.25;
        transform: none;
      }
      & > svg {
        height: var(--tile-font-size);
        width: var(--tile-font-size);
      }
    }
  }
</style>

<style is:global>
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }
</style>
